*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-register{
    width: 95%;
    max-width: 500px;
    background: rgb(43, 39, 235);
    padding: 20px;

}
.form__tittle{
    margin-top:0 ;
    font-size: 1.7em;
    text-align: center;
}
.form__label, .form__input{
    display: block;
}
.form__label{
    width: 30%;
}
.form__input{
    width: 70%;
    padding: 10px;
    font-size: 1em;
}
.form__file{
    font-size: 1em;
    margin:10px;
    align-items: center;
}
.form__submit{
    width: 100%;
    padding:10px;
    border: none;
    
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}
.container--flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}